<div class="container">
  <div class="row">
    <!--<ul class="nav nav-tabs">
        <li><a routerLink="" routerLinkActive="active" class="active">Home</a></li>
        <li><a routerLink="addDonor" routerLinkActive="active">Add Donor</a></li>
        <li><a routerLink="/Profile" routerLinkActive="active">My profile</a></li>
    </ul>-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a routerLink="" class="active">Home</a></li>
          <li><a routerLink="myRequirements" routerLinkActive="active">My Requirements</a></li>
          <li><a (click)="goToPublicRequirements()" routerLinkActive="active">Pulic Requirements</a></li>
          <!--<li><a [routerLink]="[{ outlets: { popup: ['requirement'] } }]"> Post Requirement </a> </li>-->
          <li><a routerLink="Profile" routerLinkActive="active">My profile</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="register" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li *ngIf="!IsLoggedIn"><a routerLink="login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li *ngIf="IsLoggedIn"><a (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
</nav>
  </div>
  <div class="row">
    <br/>
    <br/>
    <router-outlet></router-outlet>
    <router-outlet name="popup" style="margin: auto; top: 50%;left: 50%; position: absolute"></router-outlet>
  </div>
</div>
