<div class="container">

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <div class="col-md-8">
        <span *ngIf="!isPublic">My requirements </span>
        <span *ngIf="isPublic">Public requirements </span>
      </div>
      <div class="col-md-1">
        <a class="glyphicon glyphicon-plus"  (click)="postRequirement()" >></a>
      </div>
    </div>
  </div>
  

  <div class="panel-group" id="accordion">
    <div class="panel panel-default" *ngFor="let requirement of myRequirements;let i = index">
      <div class="panel-heading" (click) = "current = i">
        <h4 class="panel-title">
          <span>
              <i class='glyphicon' 
                [class.glyphicon-chevron-right] = "i != current"
                [class.glyphicon-chevron-down] = "i == current" ></i> 
              Required :<em> {{requirement.bloodGroup}} </em>
             <samp *ngIf="isPublic" style="margin-left: 15px"> By : {{requirement.name}}</samp>
             <var class="pull-right"> {{requirement.date| date: 'dd/MM/yyyy'}} </var>
          </span>
        </h4>
      </div>
      
   
      <div [class.collapse]='current != i'>
        <div class="panel-body">{{requirement.description}}

        <div *ngIf="isPublic" class = "pull-right">
                  <a (click)="respond(i)">
                    <span>
                    Respond
                    </span>
                    <span style="margin-left: 10px" *ngIf="requirement.responses != undefined">
                      My responses
                    </span>
                  </a>
         </div>

         <div *ngIf="!isPublic && requirement.responses != undefined" class = "pull-right">
                  <a (click)="respond(i)">
                      <span class="badge">{{requirement.responses.length}}</span>
                  </a>
         </div>

        </div>

       <response-list *ngIf='responseItem == i && current == i && !isPublic'
       [responseList]="requirement.responses"></response-list>

        <div *ngIf='responseItem == i && current == i && isPublic'>
         <div class="panel panel-default" style="margin: 10px">
            <div class="panel-heading">
              <h4 class="panel-title">
                 Response header
              </h4>
            </div>
            <div class="panel-body">
             <form name="form" (ngSubmit)="f.form.valid && postResponse()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
                  <textarea class="form-control"  id="response"
                            name="response" style="height: 40 px;"
                            [(ngModel)]="responseModel.description"></textarea>
                </div>
              <div class="form-group">
                <button type="submit" [disabled]="loading" class="btn btn-primary pull-right" >Post</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              
            </div>
             </form>
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>


 
  </div>
  

