<div class="container">

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <div class="col-md-8">
        My requirements
      </div>
      <div class="col-md-1">
        <a class="glyphicon glyphicon-plus"  (click)="postRequirement()" >></a>
      </div>
      <!--[routerLink]="[{ outlets: { popup: ['/postRequirement'] } }]"-->
      <!--routerLink="/postRequirement"-->
      <!--[routerLink]="[{ outlets: { popup: ['postRequirement'] } }]"-->
      <!--(click)="postRequirement()"-->
    </div>
  </div>
  <div class="row">
    <!--<router-outlet name="popup1"></router-outlet>-->
  </div>
</div>
